<!-- <app-page-title title='Eventos'></app-page-title> -->

<div class='row'>
    <a class="btn btn-success new-event" routerLink="/events/new"><span>+</span></a>
</div>

<!-- <ul class="list-group list-group-flush" *ngIf = "userEvents$ | async as userEvents; else loadingError"> -->
<ul class="list-group list-group-flush" *ngIf = "userEventsTest else loadingError">
    <li class="list-group-item" *ngFor="let userEvent of userEventsTest, let userEventIndex = index" 
        [ngStyle] = "{ 'backgroundColor': userEvent.owner.email === this.userEmail ? 'white' : 'aquamarine' }">

        <app-event-item [eventData]=userEvent [userEventIndex]=userEventIndex [userEmail]=userEmail></app-event-item>
    </li>
</ul>

<ng-template #loadingError>
    <div *ngIf="error$ | async; else loading">
        Erro ao carregar!
    </div>

    <ng-template #loading>
        <span>Carregando...</span>
    </ng-template>
</ng-template>