<form [formGroup]="form">
  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <label for="desc" class="font-weight-bold">Descrição:</label>
      </div>
      <div class="col-12">
        <textarea type="desc" class="form-control" id="desc"
          formControlName="desc"
          [ngClass] = "{
            'is-invalid': !desc?.valid && (!!desc?.touched || !!desc?.dirty)
          }"></textarea>
        <app-field-control-error
          errorMsg = "Descrição é obrigatória."
          [showError] = "!desc?.valid && (!!desc?.touched || !!desc?.dirty)">
        </app-field-control-error>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-12">
            <label for="startDate" class="font-weight-bold">Início</label>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col datepicker">
            <input type="text" placeholder="DD/MM/YYYY" class="form-control"
              id="startDate" formControlName="startDate"
              [bsConfig]="{rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY'}"
              [bsValue]="bsstartValue" bsDatepicker 
              [ngClass] = "{
                'is-invalid': !startDate?.valid && (!!startDate?.touched || !!startDate?.dirty)
              }">
            <app-field-control-error
              errorMsg = "Data é obrigatória."
              [showError] = "!startDate?.valid && (!!startDate?.touched || !!startDate?.dirty)">
            </app-field-control-error>
          </div>

          <div class="col-xs">
            <timepicker id="startTime" formControlName="startTime"
              [showMeridian]=false [showSpinners]=false></timepicker>
            <app-field-control-error
              errorMsg = "Horário é obrigatório."
              [showError] = "!startTime?.valid && (!!startTime?.touched || !!startTime?.dirty)">
            </app-field-control-error>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <label for="endDate" class="font-weight-bold">Fim</label>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col datepicker">
            <input type="text" placeholder="DD/MM/YYYY" class="form-control"
              id="endDate" formControlName="endDate"
              [bsConfig]="{rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY'}"
              [bsValue]="bsEndValue" bsDatepicker
              [ngClass] = "{
                'is-invalid': !endDate?.valid && (!!endDate?.touched || !!endDate?.dirty)
              }">
            <app-field-control-error
              errorMsg = "Data é obrigatória."
              [showError] = "!endDate?.valid && (!!endDate?.touched || !!endDate?.dirty)">
            </app-field-control-error>
          </div>

          <div class="col-xs">
            <timepicker id="endTime" formControlName="endTime"
              [showMeridian]=false [showSpinners]=false></timepicker>
            <app-field-control-error
              errorMsg = "Horário é obrigatório."
              [showError] = "!endTime?.valid && (!!endTime?.touched || !!endTime?.dirty)">
            </app-field-control-error>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row justify-content-between button-row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click) = "onSubmit()">Salvar</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</form>
