<form [formGroup]="form">
  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <label for="desc" class="font-weight-bold">Descrição:</label>
      </div>
      <div class="col-12">
        <textarea type="desc" class="form-control" id="desc"
          formControlName="desc"
          [ngClass] = "applyErrorCSS('desc')"></textarea>
        <app-field-control-error
          errorMsg = "Descrição é obrigatória."
          [showError] = "showFieldError('desc')">
        </app-field-control-error>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-12">
            <label for="startDate" class="font-weight-bold">Início</label>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col datepicker">
            <input type="text" placeholder="DD/MM/YYYY" class="form-control"
              id="startDate" formControlName="startDate"
              [bsConfig]="{rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY'}"
              [bsValue]="bsstartValue" bsDatepicker>
          </div>
          <div class="col-xs">
            <timepicker id="startTime" formControlName="startTime"
              [showMeridian]=false></timepicker>
            <app-field-control-error
              errorMsg = "Início é obrigatório."
              [showError] = "showFieldError('startDate')">
            </app-field-control-error>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-12">
            <label for="endDate" class="font-weight-bold">Fim</label>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col datepicker">
            <input type="text" placeholder="DD/MM/YYYY" class="form-control"
              id="endDate" formControlName="endDate"
              [bsConfig]="{rangeInputFormat : 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY'}"
              [bsValue]="bsEndValue" bsDatepicker>
          </div>
          <div class="col-xs">
            <timepicker id="endTime" formControlName="endTime"
              [showMeridian]=false></timepicker>
            <app-field-control-error
              errorMsg = "Fim é obrigatório."
              [showError] = "showFieldError('endDate')">
            </app-field-control-error>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row justify-content-between button-row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click) = "onSubmit()">Salvar</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</form>
