$containerBorder: lightgray;

.user-container {
  border: 1px solid $containerBorder;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  opacity: 100%;
  margin-top: 50px;
}

button {
  width: 100%;
}

@media (min-width: 500px) {
  .container{
      max-width: 500px;
  }
}