<app-page-title [title]='pageTitle'></app-page-title>

<form [formGroup]="form" (ngSubmit) = "onSubmit()">
  <div class="form-group">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12">
        <label for="email" class="font-weight-bold">Email</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="email"
          formControlName="email" placeholder="your@email.com"
          [ngClass] = "applyErrorCSS('email')">
        <app-field-control-error
          errorMsg = "Email Inválido."
          [showError] = "showFieldError('email')">
        </app-field-control-error>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12">
        <label for="password" class="font-weight-bold">Senha</label>
      </div>
      <div class="col-sm-12">
        <input type="password" class="form-control" id="password"
          formControlName="password"
          [ngClass] = "applyErrorCSS('password')">
        <app-field-control-error
          errorMsg = "Senha é obrigatória."
          [showError] = "showFieldError('password')">
        </app-field-control-error>
      </div>
    </div>
  </div>

  <div class="row justify-content-around align-items-center">
    <div class="col-xs">
      <button type="submit" class="btn btn-primary">{{ submitButtonText }}</button>
    </div>
    <div class="col-xs">
      <a (click) = "onClick()" class="btn btn-primary">
        {{ secondaryButtonText }}</a>
    </div>
  </div>
</form>

<app-form-debug [form]=form></app-form-debug>