<app-page-title title='Convites'></app-page-title>

<app-event-item [eventData]=userEventData [shouldCollapse]="false"></app-event-item>

<form [formGroup]="form" class="guest-form">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12">
        <label for="userEmail" class="font-weight-bold">Usuário a ser convidado:</label>
      </div>
      <div class="col-sm-12">
          <input type="userEmail" class="form-control" id="userEmail"
            formControlName="userEmail" placeholder="user@email.com"
            [ngClass] = "{
              'is-invalid': !userEmail?.valid && (!!userEmail?.touched || !!userEmail?.dirty)
            }">
          <app-field-control-error
            errorMsg = "Email Inválido."
            [showError] = "!userEmail?.valid && (!!userEmail?.touched || !!userEmail?.dirty)">
        </app-field-control-error>
      </div>
    </div>
  </div>

  <div class="row justify-content-between button-row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="onAdd()">Adicionar</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success" (click)="onSubmit()">Salvar</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</form>
