/* You can add global styles to this file, and also import other style files */

body {
  // background-color: aliceblue;
  background-color: complement(white);
}

.button-row{
  button {
    margin-top: 16px;
    width: 100%;
  }
}